#app-container {
  background: #0b0c0e;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-right: 0;
  position: absolute;
  top: 110px
}

#user-palettes-btn i {
  transition: transform .5s ease
}

#user-palettes-btn.active i {
  transform: rotate(-90deg)
}

#colors {
  height: 100%;
  width: 100%;
  position: relative;
  background: #0b0c0e
}

.color {
  cursor: pointer;
  float: left;
  height: 100%;
  width: 20%;
  position: absolute;
  text-align: center;
  transition: background .1s ease-in-out, box-shadow .1s ease-in-out
}

.color:nth-child(1) {
  left: 0
}

.color:nth-child(2) {
  left: 20%
}

.color:nth-child(3) {
  left: 40%
}

.color:nth-child(4) {
  left: 60%
}

.color:nth-child(5) {
  left: 80%
}

.color-info {
  width: 100%;
  position: absolute;
  bottom: 30px;
  transition: all .1s ease-in-out, opacity .3s ease;
  color: #1F2D3D;
  text-transform: uppercase;
  opacity: 0.3;
  font-weight: 500;
  font-size: 11px
}

.light .color-info {
  color: #fff
}

#app-container[data-color-info='off'] .color-info {
  opacity: 0
}

.color-info div {
  display: none
}

#app-container[data-color-info='name'] .color-info-name {
  display: block
}

#app-container[data-color-info='rgb'] .color-info-rgb {
  display: block
}

#app-container[data-color-info='cmyk'] .color-info-cmyk {
  display: block
}

#app-container[data-color-info='hsv'] .color-info-hsv {
  display: block
}

#app-container[data-color-info='copic'] .color-info-copic {
  display: block
}

#app-container[data-color-info='pantone'] .color-info-pantone {
  display: block
}

#app-container[data-color-info='prismacolor'] .color-info-prismacolor {
  display: block
}

.hex {
  width: 100%;
  position: absolute;
  bottom: 60px;
  transition: opacity .5s ease-in-out, bottom .3s ease
}

#app-container[data-color-info='off'] .hex {
  bottom: 30px
}

.hex input {
  background: none;
  border: none;
  color: #1F2D3D;
  cursor: pointer;
  font-size: 33px;
  font-weight: 500;
  opacity: 0.3;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .1s ease, color .1s ease, font-size .5s ease, width .5s ease
}

.light .hex input {
  color: #fff
}

.hex input:hover, .hex input:focus {
  opacity: 0.7 !important
}

.hex input::selection {
  background: rgba(0, 0, 0, 0.2)
}

.light .hex input::selection {
  background: rgba(255, 255, 255, 0.2)
}

.lock {
  width: 100%;
  position: absolute;
  bottom: 150px;
  text-align: center;
  transition: opacity .5s ease-in-out;
  color: #3c4859
}

.lock span {
  display: inline-block;
  opacity: 0;
  transition: all .2s ease-in-out, opacity .1s ease-in-out;
  transform: scale(0.9)
}

.lock span i {
  display: inline-block;
  font-size: 30px
}

.lock span .icon-lock {
  display: none
}

.color:not(.active) .lock span:hover {
  opacity: 0.7 !important
}

.light .lock i {
  color: #fff
}

.color:hover .lock span {
  opacity: 0.3;
  transform: scale(0.9)
}

.color.active .lock span {
  opacity: 0.7 !important;
  transform: scale(1) !important
}

.color.active .lock .icon-lock {
  display: block
}

.color.active .lock .icon-unlock {
  display: none
}

.color:not(.active) .hex:hover + .lock i {
  opacity: 0;
  transform: scale(0)
}

.drag {
  width: 100%;
  position: absolute;
  bottom: 310px;
  text-align: center;
  color: #3c4859
}

.drag i {
  cursor: -webkit-grab;
  display: inline-block;
  font-size: 30px;
  opacity: 0;
  transition: all .1s ease-in-out
}

.light .drag i {
  color: #fff
}

.color .drag i:hover {
  opacity: 0.7 !important
}

.color .drag i:active {
  cursor: -webkit-grabbing
}

.color:hover .drag i {
  opacity: 0.3
}

.color .hex:hover ~ .drag i {
  opacity: 0
}

.color.notrans {
  transition: none
}

.is_dragging .color {
  transition: transform .2s ease-in-out
}

.color.isdragging {
  cursor: -webkit-grabbing;
  opacity: 1;
  z-index: 2;
  transition: background .1s ease-in-out
}

.color.dragging-trans {
  transition: background .1s ease-in-out, transform .2s ease-in-out
}

.adjust-btn-wrapper {
  width: 100%;
  position: absolute;
  bottom: 225px;
  text-align: center;
  color: #3c4859;
  padding: 10px
}

.adjust-btn-wrapper i {
  display: inline-block;
  font-size: 27px;
  opacity: 0;
  transition: all .1s ease-in-out
}

.light .adjust-btn-wrapper i {
  color: #fff
}

.color .adjust-btn-wrapper i:hover {
  opacity: 0.7 !important
}

.color:hover .adjust-btn-wrapper i {
  opacity: 0.3
}

.color .hex:hover ~ .adjust-btn-wrapper i {
  opacity: 0
}

.color.adjusting .adjust-btn {
  opacity: 0.7
}

#adjust-container {
  position: absolute;
  display: none;
  height: 638px;
  width: 100%;
  top: 0;
  z-index: 4;
  padding-right: 0;
  transition: padding-right .4s ease-in-out
}

.sidebar #adjust-container {
  padding-right: 248px
}

#adjust-wrapper {
  width: 100%;
  height: 100%;
  position: relative
}

.adjust {
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 2px 10px;
  position: absolute;
  width: 290px;
  background: #fff;
  border-radius: 10px;
  bottom: 300px;
  margin-left: -145px;
  transform: scale(0.9) translate3d(0, 0, 0);
  opacity: 0;
  display: none;
  transition: opacity .2s ease, transform .2s ease, height 0s ease;
  transform-origin: 50% 100%;
  padding: 0 !important
}

.adjust:hover, .adjust.hover {
  opacity: 1 !important
}

.adjust.visible {
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 0.1
}

.adjust:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
  border-radius: 0 0 5px 0;
  width: 17px;
  height: 17px;
  background: #fff;
  transform: rotate(45deg)
}

.adjust:before {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-radius: 0 0 5px 0;
  width: 17px;
  height: 17px;
  opacity: .1;
  background: #0b0c0e;
  transform: rotate(45deg)
}

#adjust-0 {
  margin-left: -50px;
  transform-origin: 20% 100%
}

#adjust-0:after, #adjust-0:before {
  margin-left: -103px
}

#adjust-4 {
  margin-left: -220px;
  transform-origin: 80% 100%
}

#adjust-4:after, #adjust-4:before {
  margin-left: 67px
}

.adjust .tabs {
  padding: 20px
}

.adjust .tabs .range-group:not(:last-child) {
  margin-bottom: 3px
}

.adjust-tab {
  display: none
}

.adjust-hsv {
  display: block
}

.adjust .input-group-small:not(:last-child) {
  margin-bottom: 15px
}

#adjust-0 {
  left: 10%
}

#adjust-1 {
  left: 30%
}

#adjust-2 {
  left: 50%
}

#adjust-3 {
  left: 70%
}

#adjust-4 {
  left: 90%
}

.adjust .tabs-btns a {
  font-size: 0.85em;
  padding: 0 9px
}

.adjust label {
  font-size: 13px
}

.adjust-pick-picker {
  height: 150px;
  margin-bottom: 12px;
  position: relative;
  border-radius: 5px
}

.adjust-pick-s {
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), #fff);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px
}

.adjust-pick-v {
  background: -webkit-linear-gradient(top, transparent, #000);
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.05) 0 0 0 1px;
  border-radius: 4px
}

.adjust-pick-h {
  margin-top: 15px
}

.adjust-pick-handle {
  cursor: -webkit-grab;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: -10px;
  top: 100%;
  left: 0;
  box-shadow: rgba(84, 82, 87, 0.15) 0 0 0 1px, rgba(84, 82, 87, 0.2) 0 2px 5px;
  position: absolute
}

.adjust.adjust-hsv-tab {
  height: 250px
}

.adjust.adjust-rgb-tab {
  height: 250px
}

.adjust.adjust-cmyk-tab {
  height: 306px
}

.adjust.adjust-pms-tab {
  height: 323px
}

.adjust.adjust-pick-tab {
  height: 273px
}

.adjust-pms .button {
  position: absolute;
  right: 8px;
  top: 26px;
  color: #3c4859;
  opacity: 1;
  z-index: 1;
  border: none;
  transition: all .2s ease
}

.adjust-pms .button.invisible {
  opacity: 0
}

.adjust-pms .button.light {
  color: #fff
}

#refine {
  width: 240px;
  top: 115px;
  right: 166px;
  padding: 7px 20px
}

#refine > div {
  border-bottom: 1px solid #E8EDF2;
  height: 45px;
  position: relative
}

#refine > div:last-child {
  border-bottom: none
}

#refine > div a {
  font-size: .8em;
  line-height: 45px;
  position: absolute;
  top: 0
}

#refine > div .right {
  right: 0
}

#refine > div span {
  color: #8e98a7;
  display: block;
  line-height: 45px;
  text-align: center
}

.modal.app-settings {
  width: 350px;
  height: 200px;
  margin: -100px -175px
}

.active-settings-container {
  z-index: 2;
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
  color: #0b0c0e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  padding: 0 20px;
  opacity: 0;
  transition: all .3s ease;
  width: 100%
}

.color.light .active-settings-container {
  color: #fff
}

.mono .color:nth-child(3) .active-settings-container {
  opacity: .3
}

.is_dragging .active-settings-container {
  opacity: 0 !important
}

body.isolation .color {
  box-shadow: #000 0 0 0 0px, inset #fff 5px 0, inset #fff -5px 0, inset #fff 0px -10px !important
}

body.isolation .color:nth-child(1) {
  box-shadow: #000 0 0 0 0px, inset #fff 10px 0, inset #fff -5px 0, inset #fff 0px -10px !important
}

body.isolation .color:nth-child(5) {
  box-shadow: #000 0 0 0 0px, inset #fff 5px 0, inset #fff -10px 0, inset #fff 0px -10px !important
}

.modal.image-picker-select {
  width: 350px;
  height: 417px;
  margin: -209px -175px
}

#image-picker-select-url {
  margin-bottom: 15px
}

#image-picker-select-browse-input {
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%
}

.modal.image-picker {
  width: 400px;
  height: 365px;
  margin: -187px -200px
}

#image-picker-canvas-container {
  text-align: center;
  margin-bottom: 10px
}

#image-picker-canvas-wrapper {
  display: inline-block;
  position: relative
}

#image-picker-canvas {
  border: 1px solid #E8EDF2;
  border-radius: 5px;
  max-width: 360px;
  max-height: 332px
}

#image-picker-canvas-cursor {
  cursor: -webkit-grab;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  margin: -10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 1px, inset rgba(255, 255, 255, 0.4) 0 0 0 1px, rgba(84, 82, 87, 0.38) 0px 2px 5px
}

#image-picker-canvas-cursor.dragging {
  cursor: none
}

#image-picker-canvas-cursor div {
  width: 2px;
  height: 2px;
  margin: 9px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 1px, inset rgba(255, 255, 255, 0.7) 0 0 0 1px
}

#image-picker-palette {
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 53px;
  overflow: hidden
}

#image-picker-palette div {
  cursor: pointer;
  float: left;
  width: 20%;
  height: 50px;
  box-shadow: inset rgba(0, 0, 0, 0.05) 0 1px, inset rgba(0, 0, 0, 0.05) 0 -1px
}

#image-picker-palette div:first-child {
  box-shadow: inset rgba(0, 0, 0, 0.05) 0 1px, inset rgba(0, 0, 0, 0.05) 0 -1px, inset rgba(0, 0, 0, 0.05) 1px 0
}

#image-picker-palette div:last-child {
  box-shadow: inset rgba(0, 0, 0, 0.05) 0 1px, inset rgba(0, 0, 0, 0.05) 0 -1px, inset rgba(0,0,0,0.05) -1px 0
}

#image-picker-palette div span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  display: block;
  margin: 20px 33px;
  opacity: 0;
  transition: all .1s ease-in-out
}

#image-picker-palette div:hover span {
  opacity: 0.2
}

#image-picker-palette div.active span {
  opacity: 0.4
}

#image-picker-palette div.light span {
  background: #fff
}

#image-picker-auto-btn {
  margin-top: 15px
}

#image-picker-browse-area {
  width: 100%;
  height: 137px;
  border: 1px dashed #d3dce6;
  border-radius: 5px;
  position: relative;
  color: #d3dce6;
  cursor: pointer;
  transition: all .1s ease-in-out
}

#image-picker-browse-area:hover, #image-picker-browse-area.drop {
  color: #8e98a7
}

#image-picker-browse-area > i {
  position: absolute;
  top: 40px;
  font-size: 40px;
  left: 50%;
  margin-left: -20px
}

#image-picker-browse-area .error-i {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  color: #E0356C;
  z-index: 10
}

#image-picker-browse-area.error .error-i {
  display: block
}

#image-picker-browse-area-br…