
<div>
    <button class="shades option"><i class="ion-grid"></i></button>
    <button class="adjust option"><i class="ion-ios-settings-strong"></i></button>
    <div class="hex"><input type="text" value="#000"></div>
    <div class="color-info">
        <div class="color-info-cmyk"></div>
    </div>
    <div class="adjust-tab" >
        <div class="tabs-btns">
            <ul>
                <li><a href="#" data-tab="adjust-hsb" class="active">HSB</a></li>
                <li><a href="#" data-tab="adjust-rgb">RGB</a></li>
                <li><a href="#" data-tab="adjust-cmyk">CMYK</a></li>
                <li><a href="#" data-tab="adjust-pick">PICK</a></li>
            </ul>
        </div>
        <div class="tab-pane active"  data-tab="adjust-hsb" >

            <div class="color-input">
                Hue
                <div class="hsb-h-slider"></div>
            </div>
            <div class="color-input">
                Saturation
                <div class="hsb-s-slider"></div>
            </div>
            <div class="color-input">
                Brightness
                <div class="hsb-v-slider"></div>
            </div>

        </div>
        <div class="tab-pane" data-tab="adjust-rgb">
            <div class="color-input">
                Red
                <div class="rgb-r-slider"></div>
            </div>
            <div class="color-input">
                Green
                <div class="rgb-g-slider"></div>
            </div>
            <div class="color-input">
                Blue
                <div class="rgb-b-slider"></div>
            </div>
        </div>
        <div class="tab-pane" data-tab="adjust-cmyk">
            <div class="color-input">
                Cyan
                <div class="cmyk-c-slider"></div>
            </div>
            <div class="color-input">
                Magenta
                <div class="cmyk-m-slider"></div>
            </div>
            <div class="color-input">
                Yellow
                <div class="cmyk-y-slider"></div>
            </div>
            <div class="color-input">
                Key
                <div class="cmyk-k-slider"></div>
            </div>
        </div>
        <div class="tab-pane" data-tab="adjust-pick">
            <div class="color-picker"></div>
        </div>
    </div>
    <div class="shades-container">
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
        <div class="shade-item"><div class="shade-hex"></div></div>
    </div>
</div>